.netrwhist
.DS_Store
.config/raycast
.config/github-copilot
.config/gh
.config/containers
/.config/lazyvim
/.config/pgcli
/.config/wireshark
/.config/dcg/pending_exceptions.jsonl
/.config/opencode/package-lock.json
/.config/tanstack/cli.json
